# Resend Env Variables - Required for Subscribe Form in Footer
# RESEND_API_KEY=
# RESEND_SEGMENT_ID=

# Google Calendar Variables - Required for Calendar page. See https://fullcalendar.io/docs/google-calendar
# PUBLIC_GOOGLE_CALENDAR_API_KEY=
# PUBLIC_GOOGLE_CALENDAR_ID=
